.avisos {
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 10px 10px 50px gray;
}


.avisos__mensaje{
    background-color:#F2F2F2;
}

.fondo-transparente{
    background-color: transparent;
}

