.infoLargo{
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 10px 10px 50px gray;
}

.infoLargo ul{
    list-style: none;
}

.infoLargo img{
    min-height: 200px;
    min-width: 200px;
}