
.infoCorto{
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 10px 10px 50px gray;
}

.infoCorto ul{
    list-style: none;
}

.infoCorto img{
    height: 250px;
    border-radius: 10px;
}

.infoCorto button{
    box-shadow: 5px 5px 10px gray;
}